@import "tailwindcss";

@layer base {
  :root {
    --font-sans: 'Poppins', system-ui, -apple-system, sans-serif;
  }
}

html,
body {
  height: 100%;
}

[data-scroll-container] {
  overflow: hidden;
}